<html>
  <head>
    <title>{{ shop.name }}</title>
    {{ content_for_header }}
    {{ 'counter.js' | asset_url | script_tag }}
    <script src="{{ 'main.js' | asset_url }}" type="module"></script>
    <script src="{{ 'hello.js' |  asset_url }}" type="module"></script>
  </head>
  <body>
    {{ content_for_layout }}
    <div
      x-data="
        {
        input:'',
        items: ['foo','football','zoo'],
        get filteredItems(){
        return this.items.filter(i => i.startsWith(this.input))
        }
        }
      "
    >
      <input type="text" x-model="input">
      <p x-show="input">Search Txt: <span x-text="input"></span></p>
      <ul x-show="input">
        <template x-for="item in filteredItems">
          <li x-text="item"></li>
        </template>
      </ul>
    </div>
    <div x-data="linklist">
      <hr>
      <template x-for="tab in show">
        <p x-text="tab"></p>
      </template>
      <hr>

      <button @click="current='first'">First Tab</button>
      <button @click="current='second'">Second Tab</button>
      <button @click="current='third'">Third Tab</button>
    </div>
  </body>
</html>
